/*orange #f15025*/

/*black #353531*/

/*navy blue #2d3142*/

/*grey #ced0ce*/

/*whitesmoke*/


body{
    font-family: 'Indie Flower', cursive; 
}

/*NAVBAR*/
.transparent{
    background: rgba(0,0,0,0.5);
}

.navbar-toggler-icon{
    border: 5px solid black;
    padding: 30px;
    background-color: #f15025;
}

.nav-link, .navbar-brand{
    color: #f15025!important;
    font-style: italic;
}

.navbar a:hover{
    color: whitesmoke!important;
    
}
/*END NAVBAR*/


header{
    height: 100vh;
    background: url(../header.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-center{
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.banner-underline{
    width: 300px;
    border: 3px solid #f15025;
    margin: 0px auto 20px;
}

.banner-center a{
    font-size: 30px;
    width: 300px;
    margin: 0px auto;
    display: inline-block;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 20px;
}

.banner-center a:hover,
.banner a:focus{
    color: #f15025;
    background-color: whitesmoke;
}
/*END OF BANNER*/

/*TITLE*/
.title{
    margin: 20px 0;
}

.title-underline{
    width: 150px;
    border: 3px solid #f15025;
    margin: 0px auto 10px auto;
}
/*END OF TITLE*/
/*SKILLS*/
#skills{
    padding: 40px;
    color: #2d3143;
    margin-bottom: 10px;
}

#skills .fas{
    font-size: 100px;
    margin-bottom: 10px;
}

#skills a{
    margin-bottom: 20px;
    background-color: #f15025;
    color: whitesmoke;
    font-size: 20px;
}
#skills a:hover{
    background-color: #ced0ce;
}
/*END OF SKILLS*/

/*ABOUT*/
#about{
    background-color: #2d3142;
}

#about .pic{
    height: 600px;
    background: url(../about.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-left: 100px solid #2d3142;
}

#about .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*END OF ABOUT*/

/*CONTACT*/
#contact{
    padding: 40px;
    background-color: whitesmoke;
}

#contact .form-control{
    border-radius: 0!important;
    font-size: 20px;
}

#contact button{
    background-color: #353531;
    font-size: 24px;
    color: #f15025;
    margin-bottom: 20px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

#contact button:hover{
    background-color: #ced0ce;
}


/*END OF CONTACT*/
/*FOOTER*/

#footer{
    padding: 40px;
    color: whitesmoke;
    background-color: #353531;
}

#footer .title-underline{
    margin-bottom: 40px;
}

#footer .footer-icons{
    font-size: 60px;
    padding-top: 30px;
}

#footer .footer-icons a{
    color: deepskyblue;
    text-decoration: none;
}

#footer .footer-icons a:hover{
    color: #f15025;
}

#footer .copyrights h3{
    padding: 40px 0;
    color: #ced0ce;
}

/*END OF FOOTER*/









